@import url('https://fonts.googleapis.com/css?family=Work+Sans');


body {
  margin: 30px auto;
  max-width: 1000px;
  font-family:'Work Sans', sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  align-content: center;
  margin-bottom: 0;
}
.indexbody{
  background-color: #959AA1;
}

.yellowbody{
  background-color: #E5D43D;
}

.copbody{
  background-color: #3024FF;
}

h3 {
  padding: 20px 0px 10px 0px;
}

a {
color: black;
text-decoration: none;
}

img {
  display: block;
  margin: 0px auto;
  max-width: 100%;
}

nav{
  text-align: center;

}

ul{
    list-style-type: none;
}

li{
  display: inline;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
}
 @media screen and (min-width:700px){}
