
body {
  margin: 30px auto;
  max-width: 75%;
  min-width: 35%;
  font-family: 'Baloo Bhaijaan', sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  align-content: center;
  margin-bottom: 0;
}

.indexbody{
  background-color: #959AA1;
  background-image: url(images/road.gif);
  background-repeat: repeat;
}

.yellowbody{
  background-color: #E5D43D;
  background-image: url(images/car2.gif);
}

.copbody{
  background-color: #3024FF;
  font-family: 'Chivo', sans-serif;
}
.damagebody{
  background-color: #FF1D0E;
  background-image: url(images/wall1.png);
}

.secyellbody{
  background-color: #8C6E1E;
  background-image: url(images/eyegif.gif);
  background-repeat:round;
}

h3 {
  padding: 20px 0px 10px 0px;
}

a {
color: black;
text-decoration: none;
}

img {
  display: block;
  margin: 0px auto;
  max-width: 100%;
}

nav{
  text-align: center;
  text-decoration: none;

}

ul{
    list-style-type: none;
}

li{
  display: inline;
  padding: .25rem;
  text-align: center;
  text-decoration: none;
}

.inmar{
  color: #E5D43D;
}

.yellmar{
  color: #3024FF;
  text-align: center;
}

.copmar{
  color: #FF1D0E;
}

.dammar{
  color: #959AA1;
}

.secyellmar{
  color: #940BE3;
  text-align: center;
  padding: 0;
}

.damvideo{
  display: block;
  margin-top: 1000px;
  max-width: 100%;
  text-align: center;

}

.secyell{
margin: 5px;
  display:inline-block;
  vertical-align: top;
  text-align: center;

}

img{
  max-width: 100%;
}

@media screen and (min-width:700px){

 .col{
   margin: 5px;
   display:inline-block;
   vertical-align: top;
   text-align: center;
   width: 27%;
   padding:15px;
   margin-top: 40px;
   margin-bottom: 40px;
 }

.damvideo{
   margin-left: 200px;
}

}
